
/*global*/
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Poiret One', cursive;
  background-color: #c1dfd7;
}

.container {
  color: black;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: 'Poiret One', cursive;
}

a {
  text-decoration: none;
}

/*nav*/
#navigationBar {
  font-family: 'Poiret One', cursive;
  display:flex;
  height:50px;
  justify-content: flex-start space-around;
  font-size: 3em;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
  background-color: #eace6a;
  position: fixed;
  z-index:1;
}

#navigationBar a {
  text-decoration: none;
  color: black;
}

#navigationBar div:hover {
  color: white;
}

#navigationBar div:active {
  color: #ffb8a4;
}

/*#navigationBar div {
  margin: auto;
}*/

#logo {
  background-image:url('./logo_Boscarino.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0;
  padding-left: 0;
  height: 50px;
  width:50px;
}



/*header*/
#header{
  padding-top: 64px;
  width: 100%;
  /*height:83%;*/
  min-height: calc(100vh - 64px);
  background-image: url('./logo_Boscarino_with_letters.svg');
  color:#ffb8a4;
   -webkit-text-stroke: 2px black;
  background-position: 50% 75%;
  background-attachment: fixed;
  background-size: 50%;
  background-repeat: no-repeat;
}


#headerItems {
display:flex;
font-size: 150px;
}

#headerItems .name, #circleImage {
margin: auto;
}

.name {
  padding-top: 65vh;
  padding-left: 5px;
}






/*About*/

#about {
  padding-top: 3%;
  background-color: #ffb8a4;
  text-align: center;
  width: 100%;
  /*height:91%;*/
  height: 900px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#circleImage {
  height:30%;
  width: 30%;
  border-radius: 50%;
}

#about h1 {
    font-size: 60px;
    background-color: white;
}

#about p {
  font-size: 25px;
}

#Divabout {
  flex-basis: 46%;
  padding-right:1%;
}


#resumeDiv {
  flex-basis: 46%;
  padding-left:1%;
  margin-bottom: 20px;
}
#resumeHR{
  margin-bottom: 3%;
}

#resume{
  background-image: url('./Boscarino_Resume.png');
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height:500px;
}

#aboutContent {
  font-size: 20px;
}







#skills {
  font-size: 50px;
  text-align: center;
  padding-top: 5vh;
  width: 100%;
  /*height:95%;*/
  height: 900px;
  background-color: #c1dfd7;
}

#skillContainer {
  display: flex;
  flex-direction: row;
}

#skills h1 {
  display: inline-block;
  background-color: white;
  width:50%;
  text-align: center;
}

#skillText{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-around;
  padding-bottom: 2%;
}

#icons {
  width:80%;
  height:50%;
  padding-right:1%;
  padding-bottom: 3%;
}

#icons img {
  height: 150px;
  width: 150px;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}







#portfolio {
  font-size: 50px;
  text-align: center;
  padding-top: 2%;
  width: 100%;
  height: 950px;
  background-color: #6d6e72;
}

#portfolio h1{
  background-color: white;
}

#portfolio-flex {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image:url('./logo_Boscarino.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 37%;
  }

#pOne {
  background-image:url('./portfolioImages/bentCreek.png');
  /*background-attachment: fixed;*/
}

#pTwo {
  background-image:url('./portfolioImages/calcScreenshot.png');
  /*background-attachment: fixed;*/
}
#pThree {
  background-image: url('./portfolioImages/gamePic.png');
}

.portfolioItems {
  font-size: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:250px;
  width: 450px;
}

.grow {
  transition: all .4s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.textOnHover > p {
  position:center;
  bottom:50%;
  visibility:hidden;
  text-decoration: none;
}

.textOnHover:hover .text {
  visibility: visible;
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 2px black;
  background-color: white;
  opacity: .8;
}





#connect {
  font-size: 20px;
  width: 100%;
  height: 800px;
  background-color: #c1dfd7;
}

#social_icons {
  height:20%;
  width:100%;
  display:flex;
  justify-content: center;
  justify-content: space-around;
}

#social_icons i{
  color: black;
  padding-left: 2%;
  padding-right: 2;
}

#social_icons i:hover{
  color:#ffb8a4;
}

#connect {
  background-image:url('./logo_Boscarino.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}


#connect h1 {
  width:100%;
  font-size: 50px;
  text-align: center;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}


.flex-outer {
  font-size: 2em;
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  width: 90vw;
  margin: 0 auto;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  font-size: 30%;
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 20px 25px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

#submitButton:hover {
  background-color: white;
  color: black;
}



/*footer*/
footer {
  display:flex;
  margin-top: 4px;
  height: 60px;
  font-size: 2em;
  width: 100%;
  background-color: #eace6a;
  color: white;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

footer section {
    margin-left: 20px;
}

#myBtn{
  margin-top: 6px;
  padding: 10px 25px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: white;
  color: black;
}





/*/////////////////////////////////*/
@media screen and (max-width: 1024px) {
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

  #header{
    width: 100%;
    height:100%;
    background-position: 50% 40%;
    background-size: 80%;
  }

  .name {
    padding-top: 70vh;
    font-size: 120px;
  }

  #about {
    padding-top: 2%;
    height:100%;
  }

  #circleImage {
    height:15vh;
    width: 15vh;
    border-radius: 50%;
  }

  #about p {
    font-size: 30px;
  }

  #Divabout {
    flex-basis: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #resumeDiv {
    flex-basis: 100%;
    padding-left:5%;
    padding-right: 5%;
    margin-bottom: 20px;
  }

  #resume{
    height:25vh;
  }

  #skills {
    text-align: center;
    padding-top: 2%;
    height:100%;
  }

  #icons {
    height:80vh;
    padding-right:1%;
    padding-bottom: 3%;
  }

  #icons img {
    height: 200px;
    width: 200px;
  }


  #portfolio {
    background-color: #ffb8a4;
    background-image: none;
    padding-top: 6vh;
    width: 100%;
    height: 100%;
  }


  #portfolio-flex {
    padding-bottom: 10vh;
  }

  .portfolioItems {
    height:20vh;
    width: 35vw;
  }


  #connect {
    background-image: none;
    width: 100%;
    height: 90%;
  }

  .formBackground {
    width: 96%;
  }

  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    font-size: 30%;
    padding: 20px;
    border: none;
  }

  form {
    padding-top: 10%;
  }

  label {
    font-size: 40px;
  }
}


/*/////////////////////////////////*/
@media screen and (max-width: 480px) {
#navigationBar {
  font-size: 20px;
  height: 30px;
  padding-bottom: 0;
}
#logo {
  height:0px;
  width:0px;
}
#header {
  background-size: 60%;
}
#headerItems {
  padding-top: 300px;
  display:flex;
  flex-flow: row wrap;
}
.name {
  padding-top: 0;
  font-size: 70px;
}
#about h1 {
  font-size: 35px;
}
#circleImage{
  height: 40px;
  width: 40px;
}
#skills h1 {
  font-size: 35px;
}
#portfolio h1 {
  font-size: 35px;
}
#aboutContent.content {
  font-size: 10px;
}
#skillText {
  font-size: 15px;
  padding-bottom: 5px;
}
#icons img{
  height:40px;
  width:40px;
}
#portfolio {
  padding-top: 3px;
  background-image: none;
}
.textOnHover:hover {
  font-size:15px;
  width:100%;
}
#portfolio-flex {
  padding-top: 3px;
  padding-bottom: 0;
}
.portfolioItems {
  height:60px;
  width: 140px;
}
#connect h1 {
  font-size: 20px;
}
#social_icons {
  height:10%;
}
#connect {
  background-image: none;
  height:85%;
}
.flex-outer {
  font-size: 10px;
}
.flex-outer {
  width: 90%;
}
.flex-outer > li:not(:last-child) {
  margin-bottom: 5px;
}
.flex-outer li label,
.flex-outer li p {
  padding: 4px;
}
.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  font-size: 10px;
  padding: 5px;
}
.flex-outer li label {
  font-size: 20px;
}
.flex-outer li button {
  padding: 10px 15px;
}
#submitButton:hover {
  background-color: white;
  color: black;
}
footer {
  margin-top: 2px;
  padding-bottom: 2px;
  height: 30px;
  font-size: 20px;
}
#myBtn{
  margin-top: 6px;
  padding: 5px 15px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
#myBtn:hover {
  background-color: white;
  color: black;
}
@media screen and (max-width: 480px)
}
