/*mobile first up to 416px*/

body {
  margin: 0;
  height: 100%;
  font-family: 'Poiret One', cursive;
  background-color: #c1dfd7;
}
.container {
  color: black;
  margin: 0 auto;
  width: 100%;
}
a {
  text-decoration: none;
}
#navigationBar {
  display:flex;
  height:40px;
  justify-content: center;
  font-size: 25px;
  padding: 2px;
  width: 100%;
  background-color: #eace6a;
  position: fixed;
  z-index:1;
}
#navigationBar a {
  text-decoration: none;
  padding: 4px;
  color: black;
}
#navigationBar div:hover {
  color: white;
}
#navigationBar div:active {
  color: #ffb8a4;
}
#header{
  padding-top: 64px;
  width: 100%;
  min-height: calc(100vh - 64px);
  background-image: url('./logo_Boscarino_with_letters.svg');
  color:#ffb8a4;
   -webkit-text-stroke: 1px black;
  background-position: 50% 40%;
  background-attachment: scroll;
  background-size: 90%;
  background-repeat: no-repeat;
}
#headerItems {
display:flex;
font-size: 50px;
}
#headerItems .name, #circleImage {
margin: auto;
}
.name {
  padding-top: 63vh;
  padding-left: 1px;
}
#about {
  padding-top: 31px;
  background-color: #ffb8a4;
  text-align: center;
  width: 100%;
}
#aboutContent {
  margin-left: 10px;
  margin-right: 10px;
}
#about h1 {
  background-color: white;
  margin-right: 30px;
  margin-left:30px;
}
#resumeDiv {
  padding-top: 1px;
  background-color: #eace6a;
  padding-bottom:50px;
}
#resumeDiv h1 {
  background-color: white;
  margin-right: 20px;
  margin-left:20px;
}
#resumeHR{
  margin-bottom: 3%;
}
#resume{
  background-image: url('./ResumeScreenshot.png');
  background-position: center;
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height:400px;
}
.column-container {
  width:50%;
}
#circleImage {
  height:200px;
  border-radius: 50%;
  margin-bottom: 50px;
}
#skills {
  text-align: center;
  padding-top: 31px;
  width: 100%;
  background-color: #c1dfd7;
}

#skillContainer {
padding-top: 7px;
padding-bottom:30px;
}

#skills h1 {
  background-color: white;
  margin-right: 30px;
  margin-left:30px;
}

#skillText{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
  padding-bottom: 20px;
}
#skillText div {
  flex-basis: 33%;
}
#icons {
  margin-left: 60px;
  margin-right: 60px;
}
#icons img {
  height: 50px;
  width: 50px;
}
#portfolio {
  text-align: center;
  padding-top: 31px;
  width: 100%;
  background-color: #6d6e72;
}
#portfolio h1{
  background-color: white;
  margin-right: 30px;
  margin-left:30px;
}
#portfolio-flex {
  display:flex;
  flex-direction: column;
  padding-bottom: 10px;
  color:white;
  }
#portfolio-flex div {
    margin: 0 auto;
}
.only-visible-in-small {
  font-size: 40px;
  padding:0px;
  margin:0px;
}
.text {
  visibility: hidden;
}
#pOne {
  background-image:url('./portfolioImages/bentCreek.png');
}
#pTwo {
  background-image:url('./portfolioImages/calcScreenshot.png');
}
#pThree {
  background-image: url('./portfolioImages/gamePic.png');
}
#pFour {
  background-image: url('./portfolioImages/iTunesImage.png');
}
#pFive {
  background-image: url('./portfolioImages/listimage.png');
}

.portfolioItems {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height:225px;
  width: 300px;
  padding: 0px;
}
#connect {
  padding-top: 31px;
  width: 100%;
  background-color: #c1dfd7;
}
#social_icons {
  width:100%;
  padding-bottom: 20px;
  display:flex;
  justify-content: center;
  justify-content: space-around;
}
#social_icons i{
  color: black;
}

#social_icons i:hover{
  color:#ffb8a4;
}
#connect {
  background-image:url('./logo_gold.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#connect h1 {
  background-color: white;
  text-align: center;
  margin-right: 30px;
  margin-left:30px;
}
.flex-outer {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}
.flex-outer {
  width: 90%;
  margin: 0 auto;
}
.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-outer > li:not(:last-child) {
  margin-bottom: 10px;
}
.flex-outer li label,
.flex-outer li p {
  padding: 10px;
  text-transform: uppercase;
}
.flex-outer > li > label,
.flex-outer li p {
  flex: .1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  width:100%;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  font-size: 70%;
  padding: 20px 5px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 10px 15px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
#submitButton:hover {
  background-color: white;
  color: black;
}
footer {
  display:flex;
  margin-top: 4px;
  height: 40px;
  font-size: 20px;
  width: 100%;
  background-color: #eace6a;
  color: white;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer section {
    margin-left: 20px;
}
#myBtn{
visibility: hidden;
}






/*tablets*/
@media screen and (min-width: 700px){
  #headerItems {
    font-size: 70px;
  }
  #navigationBar {
    display:flex;
    height:60px;
    justify-content: center;
    font-size: 40px;
    padding: 5px;
  }
  #header {
    background-attachment: fixed;
  }
  .name {
    font-size: 85px;
    padding-top: 75vh;
    padding-left: 15px;
  }
  #navigationBar a {
    padding:10px;
  }
  #about h1 {
    font-size: 50px;
    margin-right: 30px;
    margin-left:30px;
  }
  #aboutContent {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #resume{
    height:600px;
  }
  #skills h1 {
    font-size: 50px;
    background-color: white;
    margin-right: 30px;
    margin-left:30px;
  }
  #skillText{
    font-size: 34px;
  }
  #skillText div{
  padding: 5px;
  }
  #icons {
    margin-left: 100px;
    margin-right: 100px;
  }
  #icons img {
    height: 80px;
    width: 80px;
  }
  #portfolio h1{
    font-size: 50px;
  }
  #portfolio-flex {
    font-size: 28px;
    }
  .portfolioItems {
    height:200px;
    width: 400px;
  }
  #connect {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #social_icons {
    padding-bottom: 150px;
  }
  #connect h1 {
    font-size: 50px;
  }
  form {
    padding-bottom: 20px;
  }
  .flex-outer {
    font-size: 30px;
  }
  .flex-outer > li:not(:last-child) {
    margin-bottom: 30px;
  }
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    font-size: 60%;
  }
  .flex-outer li button {
    padding: 20px 30px;
  }
  footer {
    padding-top: 10px;
    margin-top: 8px;
    height: 50px;
    font-size: 30px;
  }
  #myBtn{
    padding: 10px 15px;
  }

}
@media screen and (min-width: 1200px){
  .name {
    font-size: 150px;
  }
}
@media screen and (min-width: 1600px){

  #navigationBar {
    height:50px;
    justify-content: flex-start space-around;
    font-size: 3em;
    padding-top: 7px;
    padding-bottom: 25px;
  }
  #navigationBar div:hover {
    color: white;
  }
  #navigationBar div:active {
    color: #ffb8a4;
  }
  #logo {
    background-image:url('./logo_Boscarino.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0;
    padding-left: 0;
    height: 60px;
    width:60px;
  }
  #header{
    padding-top: 64px;
    width: 100%;
    min-height: calc(100vh - 64px);
     -webkit-text-stroke: 2px black;
    background-position: 50% 75%;
    background-attachment: fixed;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .name {
    padding-top: 65vh;
    padding-left: 5px;
    font-size: 200px;
    padding-bottom: 40px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  #about {
  padding-top: 5vh;
  }
  #circleImage {
    height:30%;
    width:45%;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  #about h1 {
    font-size: 60px;
  }
  #about p {
    font-size: 30px;
  }
  #Divabout {
    flex-basis: 46%;
    padding-right:1%;
  }
  #resumeDiv {
    background-color: #ffb8a4;
    flex-basis: 46%;
    padding-left:1%;
    margin-bottom: 20px;
  }
  #resumeHR{
    margin-bottom: 3%;
  }
  #resume{
    height:900px;
  }
  #skills {
    font-size: 50px;
    text-align: center;
    padding-top: 5vh;
    background-color: #c1dfd7;
  }
  #skillContainer {
    display: flex;
    flex-direction: row;
  }
  #skills h1 {
    display: inline-block;
    background-color: white;
    width:50%;
    text-align: center;
    font-size: 60px;
  }
  #skillText{
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2%;
    font-size: 40px;
  }
  #icons {
    width:60%;
    padding-bottom: 3%;
  }
  #icons img {
    height: 150px;
    width: 150px;
  }

  @-webkit-keyframes swing
  {
      15%
      {
          -webkit-transform: translateX(5px);
          transform: translateX(5px);
      }
      30%
      {
          -webkit-transform: translateX(-5px);
         transform: translateX(-5px);
      }
      50%
      {
          -webkit-transform: translateX(3px);
          transform: translateX(3px);
      }
      65%
      {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
      80%
      {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
      }
      100%
      {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }
  @keyframes swing
  {
      15%
      {
          -webkit-transform: translateX(5px);
          transform: translateX(5px);
      }
      30%
      {
          -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
      }
      50%
      {
          -webkit-transform: translateX(3px);
          transform: translateX(3px);
      }
      65%
      {
          -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
      }
      80%
      {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
      }
      100%
      {
          -webkit-transform: translateX(0);
          transform: translateX(0);
      }
  }

  .swing:hover
  {
          -webkit-animation: swing 1s ease;
          animation: swing 1s ease;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  }

  #portfolio {
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    width: 100%;
    background-color: #f09f9c;
  }
  #portfolio h1{
    display: inline-block;
    background-color: white;
    width:50%;
    text-align: center;
    font-size: 60px;
  }
  #portfolio-flex {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 50px;
    padding-bottom: 5%;
    }
  .only-visible-in-small {
    visibility: hidden;
    width: 10px;
  }
  .portfolioItems {
    font-size: 70px;
    height:400px;
    width: 500px;
  }
  .textOnHover > .text {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    transition: 500ms;
    visibility: hidden;
    position:center;
    text-decoration: none;
  }
  .textOnHover:hover > .text {
    visibility: visible;
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 2px black;
    background-color: white;
    opacity: .8;
  }
  #social_icons {
    height:20px;
    padding-bottom: 70px;
  }
  #social_icons i:hover{
    color:#ffb8a4;
  }
  #connect h1 {
    background-color: white;
    font-size: 60px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .flex-outer {
    font-size: 2em;
    list-style-type: none;
    padding: 0;
  }
  .flex-outer {
    width: 90vw;
    margin: 0 auto;
  }
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    text-transform: uppercase;
  }
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  .flex-outer > li > label + * {
    flex: 1;
  }
  .flex-outer li p {
    margin: 0;
  }
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    font-size: 40%;
    padding: 15px;
    border: none;
  }
  .flex-outer li button {
    margin-left: auto;
    padding: 20px 25px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  footer {
    display:flex;
    margin-top: 0px;
    height: 60px;
    font-size: 2em;
  }
  #myBtn{
    visibility: visible;
    margin-top: 6px;
    padding: 10px 25px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }

  #myBtn:hover {
    background-color: white;
    color: black;
  }
}
